@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --site-theme-color: #01d293;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif !important;
  scroll-behavior: smooth;
  background: #0e1630;
  background-color: #0e1630 !important;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  color: #808dad;
  line-height: 30px;
}